<div class="search-box">
  <%= search_form_for @q, url: shops_search_result_path do |f| %>
    <div class="name"><%= f.search_field       :name_or_name_kana_cont,               placeholder: "店名" %></div>
    <div class="address"><%= f.search_field    :address_or_nearest_station_cont,      placeholder: "エリア・駅" %></div>
    <div class="genre"><%= f.collection_select :genre_id_eq, Genre.all, :id, :name,   include_blank: "ジャンル" %></div>
    <div class="search-box"><%= f.submit "検索" %></div>
  <% end %>
</div>


<style>



</style>