<%= stylesheet_link_tag "public/search", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="search-box">
  <%= search_form_for @q, url: shops_search_result_path do |f| %>
    <table>
      <tr>
        <td><%= f.search_field      :name_or_name_kana_cont,               placeholder: "店名" %></td>
        <td><%= f.search_field      :address_or_nearest_station_cont,      placeholder: "エリア・駅" %></td>
        <td><%= f.collection_select :genre_id_eq, Genre.all, :id, :name,   include_blank: "ジャンルを選択" %></td>
        <td><%= f.submit "検索" %></td>
      </tr>
    </table>
  <% end %>
</div>
