<div class="header_top">
  <div class="header_top_left">
    <h1 class="logo"><%= link_to "カレドコ", root_path %></h1>
    <p class="header_explain">あなたにぴったりのカレー屋が検索できるレビューサイト</p>
  </div>
  <%= link_to "ユーザー管理", admins_users_path,                           class: "header_btn" %>
  <%= link_to "お店管理",     admins_shops_path,                           class: "header_btn" %>
  <%= link_to "ジャンル管理", admins_genres_path,                          class: "header_btn" %>
  <%= link_to "ログアウト",   destroy_admin_session_path, method: :delete, class: "header_btn" %>
</div>
