<h4>検索</h4>
<%= search_form_for @q, url: shops_search_path do |f| %>
  <%= f.label        :name_cont, "店名で探す" %>
  <%= f.search_field :name_or_name_kana_cont, placeholder: "店名を入力してください" %>

  <%= f.label             :genre_id_eq, "ジャンル" %>
  <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, include_blank: "指定なし" %>
  <br>
  <%= f.submit "検索" %>
<% end %>

<h4>お店一覧</h4>
<% @shops.each do |shop| %>
  <%= attachment_image_tag shop, :image, :fill, 300, 300 %>
  <%= link_to shop.name, shop_path(shop.id) %>
  <%= shop.genre.name %>
  <%= shop.nearest_station %>
  <%= shop.is_deleted ? '営業中' : '閉店' %>
<% end %>
