<%= stylesheet_link_tag "public/shops", media: "all", 'data-turbolinks-track': 'reload' %>

<%= render "public/shared/search", shops: @q %>


<div class="shop-list">
  <% @shops.each do |shop| %>
    <div class="shop-box">
      <div class="shop-image">
        <%= attachment_image_tag shop, :image, :fill, 300, 300 %>
      </div>
      <div class="shop-info">
        <div>
          <h2><%= link_to shop.name, shop_path(shop.id), class: "btn" %></h2>
        </div>
        <div>
          <% if shop.reviews.blank? %>
            <% average_review = 0 %>
          <% else %>
            <% average_review = shop.reviews.average(:rate).round(2) %>
          <% end %>
          <div class="average-review-rate" data-score=<%= average_review %>></div>
          <span>( レビュー <%= link_to shop.reviews.count, shop_reviews_path(shop), class: "btn" %> 件 )</span>
        </div>
        <div>
          <%= shop.genre.name %>
        </div>
        <div>
          <%= shop.nearest_station %>
        </div>
        <div>
          <%= shop.is_deleted ? '営業中' : '閉店' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="paginate">
    <%= paginate @shops %>
  </div>
</div>

<script>
  $('.average-review-rate').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
