<%= stylesheet_link_tag "public/shops", media: "all", 'data-turbolinks-track': 'reload' %>

<%= render "public/shared/search", shops: @q %>

<h4>お店一覧</h4>
<% @shops.each do |shop| %>
  <table>
    <tr><%= attachment_image_tag shop, :image, :fill, 300, 300 %></tr>
    <tr><%= link_to shop.name, shop_path(shop.id) %></tr>
    <tr>
      <% if shop.reviews.blank? %>
        <% average_review = 0 %>
      <% else %>
        <% average_review = shop.reviews.average(:rate).round(2) %>
      <% end %>
      <th><div class="average-review-rate" data-score=<%= average_review %>></div></th>
      <td><span>レビュー<%= shop.reviews.count %>件</span></td>
    </tr>
    <tr><%= shop.genre.name %></tr>
    <tr><%= shop.nearest_station %></tr>
    <tr><%= shop.is_deleted ? '営業中' : '閉店' %></tr>
  </table>
<% end %>

<script>
  $('.average-review-rate').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
