<h4>検索結果</h4>

<% @results.each do |shop| %>
  <%= attachment_image_tag shop, :image, :fill, 300, 300 %>
  <%= link_to shop.name, shop_path(shop.id) %>
  <%= shop.genre.name %>
  <%= shop.nearest_station %>
  <%= shop.is_deleted ? '営業中' : '閉店' %>
<% end %>
