<%= stylesheet_link_tag "public/shops", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="shop_header">
  <h2>検索結果</h2>
</div>

<div class="shop_wrap">
  <% @results.each do |shop| %>
  
    <div class="shop_box">
      <div class="shop_name">
        <%= link_to shop.name, shop_path(shop.id), class: "btn" %>
      </div>

      <div class="shop_container">
        <div class="shop_image">
          <%= attachment_image_tag shop, :image, :fill, 200, 200 %>
        </div>

        <div class="shop_info">
          <div>
            <% if shop.reviews.blank? %>
              <% average_review = 0 %>
            <% else %>
              <% average_review = shop.reviews.average(:rate).round(2) %>
            <% end %>
            <div class="average-review-rate" data-score=<%= average_review %>></div>
            <span>( レビュー <%= link_to shop.reviews.count, shop_reviews_path(shop), class: "btn" %> 件 )</span>
          </div>

          <div>
            <%= shop.genre.name %>
          </div>

          <div>
            <%= shop.nearest_station %>
          </div>

          <div>
            <%= shop.is_deleted ? '営業中' : '閉店' %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>

<script>
$('.average-review-rate').empty();
  $('.average-review-rate').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
