<%= stylesheet_link_tag "public/shops", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="shop-list">
  <div class="shop-box">
    <div class="shop-image">
      <%= attachment_image_tag @shop, :image, :fill, 500, 500 %>
    </div>

    <table class="t-shop">
      <tr class="tr-shop">
        <th class="th-shop">お店の名前</th>
        <td class="td-shop">
          <%= @shop.name %>
          ( <%= @shop.name_kana %> )
        </td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">評価</th>
        <td class="td-shop">
          <div class="average-review-rate" data-score=<%= @average_review %>></div>
          <span>レビュー<%= @shop.reviews.count %>件</span>
        </td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">ジャンル</th>
        <td class="td-shop"><%= @shop.genre.name %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">住所</th>
        <td class="td-shop"><%= @shop.address %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">予約・お問い合わせ</th>
        <td class="td-shop"><%= @shop.telephone_number %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">営業時間</th>
        <td class="td-shop"><%= @shop.opening_hours %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">定休日</th>
        <td class="td-shop"><%= @shop.regular_holiday %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">最寄駅</th>
        <td class="td-shop"><%= @shop.nearest_station %></td>
      </tr>
      <tr class="tr-shop">
        <th class="th-shop">営業状況</th>
        <td class="td-shop"><%= @shop.is_deleted ? '営業中' : '閉店' %></td>
      </tr>
    </table>
  </div>

  <div class="btn_shop">
    <%= link_to "レビューを見る", shop_reviews_path(@shop) %>
  </div>
  <div class="btn_shop">
    <%= link_to "レビューを投稿する", new_shop_review_path(@shop) %>
  </div>
</div>


<script>
  $('.average-review-rate').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
