<h4>お店詳細</h4>

<%= attachment_image_tag @shop, :image, :fill, 500, 500 %>

<table>
  <tr>
    <th>お店の名前</th>
    <td>
      <%= @shop.name %>
      ( <%= @shop.name_kana %> )
    </td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @shop.genre.name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @shop.address %></td>
  </tr>
  <tr>
    <th>予約・お問い合わせ</th>
    <td><%= @shop.telephone_number %></td>
  </tr>
  <tr>
    <th>営業時間</th>
    <td><%= @shop.opening_hours %></td>
  </tr>
  <tr>
    <th>定休日</th>
    <td><%= @shop.regular_holiday %></td>
  </tr>
  <tr>
    <th>最寄駅</th>
    <td><%= @shop.nearest_station %></td>
  </tr>
  <tr>
    <th>営業状況</th>
    <td><%= @shop.is_deleted ? '営業中' : '閉店' %></td>
  </tr>
</table>

<%= link_to "編集する", edit_admins_shop_path(@shop) %>
