<%= stylesheet_link_tag "public/sessions", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="login_wrap">
  <div class="login_box">
    <div class="login_header">
      <h4>管理者ログイン</h4>
    </div>

    <div class="login_form">
      <%= form_with model:@admin, url: admin_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :name, "管理者ID" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "login_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
