<%= stylesheet_link_tag "public/passwords", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="pass_wrap">
  <div class="pass_box">
    <div class="pass_header">
      <h4>パスワードの再設定</h4>
    </div>

    <div class="pass_form">
      <%= form_with model:@user, url: user_password_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <p>
            ご登録頂いたメールアドレスを入力してください。<br>
            新しいパスワードを再発行いたします。
          </p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "再発行" %>
        </div>
      <% end %>
    </div>

    <%= render "public/shared/links" %>

  </div>
</div>
