<div class="header-top">
  <h1 class="logo">カレドコ</h1>
  <%= link_to "トップページ", root_path,                                  class: "btn-top" %>
  <%= link_to "カレドコとは", about_path,                                 class: "btn-top" %>
  <%= link_to "マイページ",   users_my_page_path(current_user),           class: "btn-top" %>
  <%= link_to "ログアウト",   destroy_user_session_path, method: :delete, class: "btn-top"%>
</div>
<div class="header-bottom">
  <%= link_to "検索",       shops_path,      class: "btn-bottom" %>
  <%= link_to "ランキング", shops_rank_path, class: "btn-bottom" %>
</div>
