<h4>プロフィールの編集</h4>

<%= form_with model:@user, url: users_path, local: true do |f| %>

  <%# プロフィール画像 %>

  <%= f.label      :nickname, "ニックネーム" %>
  <%= f.text_field :nickname %>

  <%= f.label     :introduction, "自己紹介" %>
  <%= f.text_area :introduction %>

  <%= f.label      :email, "メールアドレス" %>
  <%= f.text_field :email %>

  <%= f.submit "変更を保存" %>

<% end %>

<%= link_to "退会する", users_unsubscribe_path %>
