<%= stylesheet_link_tag "public/users", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="my_review_header">
  <h4>投稿したレビュー</h4>
</div>
<div class="my_review_wrap">

  <% @my_reviews.each do |my_review| %>
    <div class="my_review_box">
      <div class="my_review_image">
        <%= attachment_image_tag my_review, :image, :fill, 150, 150, class: "my_review_shop_image" %>
      </div>

      <div class="my_review_info">
        <div>
          <%= link_to my_review.shop.name, shop_path(my_review.shop.id), class: "my_review_btn" %>
        </div>
        <div class="my_review_title">
          <%= my_review.title %>
        </div>

        <div class="my_review-rate" data-score="<%= my_review.rate %>"></div>

        <div class="my_review_body">
          <%= my_review.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.my_review-rate').raty({
    readOnly: true,
    score:    function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
