<%= stylesheet_link_tag "public/users", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="user_wrap">
  <div class="user_box">
    <div class="user_header">
      <h4>マイページ</h4>
    </div>

    <div class="user_profile_image">
      <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_profile_image.jpeg" %>
    </div>

    <div class="user_mypage_info">
      <div>
        <h4><%= @user.nickname %></h4>
      </div>
      <div>
        <h4><%= @user.introduction %></h4>
      </div>

      <table class="user_table">
        <tr>
          <th>投稿したレビュー</th>
          <td><%= link_to @user.reviews.count, users_reviews_path %>件</td>
        </tr>
      </table>
      <%= link_to " プロフィールを編集する", edit_users_path, class: "user_btn" %>
    </div>
  </div>
</div>
