<%= stylesheet_link_tag "public/users", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="wrapper-flex">
  <div class="wrapper-user">
    <div class="title-user">
      <h2>マイページ</h2>
    </div>
    
    <div class="profile-image">
      <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_profile_image.jpeg" %>
    </div>
    
    <div class="my-page-info">
      <div>
        <h2><%= @user.nickname %></h2>
      </div>
      <div>
        <h3><%= @user.introduction %></h3>
      </div>
      
      <table class="t-mypage">
        <tr class="tr-mypage">
          <th class="th-myoage">投稿したレビュー</th>
          <td class-"td-mypage"><%= @user.reviews.count %>件</td>
        </tr>
      </table>
      <%= link_to " プロフィールを編集する", edit_users_path, class: "btn-user" %>
    </div> 
  </div>
</div>

