<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Karedoko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render partial: "public/header" %>
      <% elsif admin_signed_in? %>
        <%= render partial: "admins/header" %>
      <% else %>
        <div class="header_top">
          <div class="header_top_left">
            <h1 class="logo"><%= link_to "カレドコ", root_path %></h1>
            <p class="header_explain">あなたにぴったりのカレー屋が検索できるレビューサイト</p>
          </div>
          <%= link_to "カレドコとは", about_path,                 class: "header_btn" %>
          <%= link_to "検索",         shops_path,                 class: "header_btn" %>
          <%= link_to "ランキング",   shops_rank_path,            class: "header_btn" %>
          <%= link_to "無料会員登録", new_user_registration_path, class: "header_btn" %>
          <%= link_to "ログイン",     new_user_session_path,      class: "header_btn" %>
        </div>
      <% end %>
    </header>

    <div class="wrapper">
      <main>
        <%= yield %>
      </main>
    </div>

    <footer></footer>

  </body>
</html>
