<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Karedoko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="reset.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render partial: "public/header" %>
      <% elsif admin_signed_in? %>
        <%= render partial: "admins/header" %>
      <% else %>
        <div class="header-top">
          <h1 class="logo">カレドコ</h1>
          <%= link_to "トップ",         root_path,                  class: "nav-top" %>
          <%= link_to "新規登録(無料)", new_user_registration_path, class: "nav-top" %>
          <%= link_to "ログイン",       new_user_session_path,      class: "nav-top" %>
        </div>
        <div class="header-bottom">
          <%= link_to "検索",       shops_path %>
          <%= link_to "ランキング", shops_rank_path %>
        </div>
      <% end %>
    </header>

    <div class="wrapper">
      <nav></nav>
      <main><%= yield %></main>
      <aside></aside>
    </div>

    <footer></footer>

  </body>
</html>
